.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sort-Container {
    margin-top: 3rem;
}

.control {
    z-index: 100;
}

.upperControl {
    margin-top: 2rem;
    width: 90%;
}

.array-bar {
    display: inline-block;
    margin: 0 1px;
}

.array-container {
    margin-top: 3rem;
    width: 100%;
}
